@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@keyframes float {

	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-6px);
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@layer utilities {
	.animate-float {
		animation: float 2s ease-in-out infinite;
		will-change: transform;
	}

	/* gentle variant */
	.animate-float-slow {
		animation: float 3.2s cubic-bezier(.25, .8, .25, 1) infinite;
		will-change: transform;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #f5f5f5;
	}
}

@media (prefers-color-scheme: dark) {

	html,
	body {
		background-color: #f5f5f5;
		color: var(--foreground);
		scroll-behavior: smooth;
	}
}

body,
html {
	background-color: #f5f5f5;
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	scrollbar-width: none;
	-ms-overflow-style: none;
	scroll-behavior: smooth;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
	display: none;
}

.section {
	scroll-snap-align: start;
}

.container {
	scroll-snap-type: x mandatory;
}


.flare {
	transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}