@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: dark) {

  html,
  body {
    background-color: var(--foreground);
    color: var(--foreground);
  }
}

body,
html {
  background-color: var(--foreground);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  scroll-snap-align: start;
}

.container {
  scroll-snap-type: x mandatory;
}


.flare {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}